# ======================
# Django / Python
# ======================
.env
.env.*

# ======================
# Next.js / Node
# ======================
.next/
out/
npm-debug.log*
yarn-error.log*

# ======================
# OS
# ======================
.DS_Store
